header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(29, 8, 8);
  color: white;
  padding: 10px;
  
}

.blog {
  border: 1px solid black;
  margin: 40px;
}

.blog-content {
  margin: 20px;
  font-size: 24px;
}